* {
  font-family: "Noto Serif HK", serif;
  background-color: #99aacd;
  color: rgb(255, 255, 255);
  margin: 20px;
}
.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 80%;
}
.img {
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7%;
}
.button {
  margin-left: -300px;
  margin-right: auto;
  border-radius: 7%;
  margin-top: 100px;
}
